@import "tailwindcss";

:root {
  --background: #FFF7ED;
  --foreground: #1e293b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-teal-primary: #0D9488;
  --color-amber-primary: #F59E0B;
  --color-cream: #FFF7ED;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
